

.userDashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 9vh;
}

.userDashboard-body {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

}