@use '../styles/base';

.userDashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 8.5vh;

  h1 {
    margin: 0
  }

  .inspirational-quote {
    text-align: right;
    
    p {
      color: base.$dark-grey;
      margin: 4px 0;
      padding-right: 15px;
      font-size: 20px;
    }
  }
}

.userDashboard-body {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}