@use '../styles/base';

.user-tasks-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px base.$dark-grey solid;
  margin: 15px 0;

  .user-tasks-left {
    display: flex;
    align-items: center;

      h3 {
        margin: 5px;
      }
  }
  
  .user-tasks-right {
    align-items: center;
    margin: 0;
  }
}