.kanban-board {
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 350px;
  margin-bottom: 50px;
  width: 22%;

  .kanban-board-header {
    background: white;
    display: flex;
    justify-content: center;
    border: 2px solid grey;
  }

  .kanban-board-body {
    display: flex;
    justify-content: center;

    .kanban-board-body-div {
      width: 90%;
    }
  }

  .kanban-board-footer {
    color: white;
    display: flex;
    justify-content: center;

    .kanban-board-footer-div {
      font-weight: bold;
      width: 90%;
      margin: 10px;
      display: flex;
      align-items: center;

      p {
        margin: 0;
      }

      svg {
        color: white;
      }
    }
  }
}
