article {
  border: solid black;
  margin: 20px;
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 2px;

  .project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid grey 2px;

    h3 {
      margin-top: 0px;
    }
    div {
      margin-right: 40px;
    }
  }

  .project-body {
    margin-bottom: 25px;
  }

  .project-footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    // From LinkIconContainer
    .nav-icon-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
}
