@use '../styles/base';

.project-name-description {
  border: 3px base.$medium-grey dashed;
  border-radius: base.$border-radius;
  padding: 25px;
  margin: 5% 0;

  h3 {
    margin-top: 0;
  }
}

.project-grouped-users {
  margin-right: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

