

//colours
$off-white: #fcfcfc;
$light-grey: #f5f5f5;
$medium-grey: #bdbdbd;
$dark-grey: #757575;

$red-light: #ff4d4d;
$red-dark: #ce3d4b;
$purple-light: #b055c4;
$purple-dark: #9a2bb2;
$orange-light: #f2b25e;
$orange-dark: #e99426;
$green-light: #409255;
$green-dark: #14752d;

$blue-primary: #1e88e5;
$blue-primary-light: #4b9fea;
$blue-primary-dark: #155fa0;

$blue-secondary: #0d47a1;
$blue-secondary-light: #3d6bb3;
$blue-secondary-dark: #093170;



$border-grey: 3px $medium-grey solid;
$border-radius: 8px;