

//colours
$light-grey: #f5f5f5;
$medium-grey: #bdbdbd;
$dark-grey: #757575;

$light-red: #ff4d4d;
$dark-red: #ce3d4b;
$light-purple: #b055c4;
$dark-purple: #9a2bb2;
$light-orange: #f2b25e;
$dark-orange: #e99426;
$light-green: #409255;
$dark-green: #14752d;

$sample-blue: rgb(79 190 255) //delete later, using just for contrasting colours