@use './base';

.add-project-form-container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    margin-top: 20px;
  }

  .add-project-form {
    display: flex;
    flex-direction: column;
    h3 {
      margin-top: 40px;
      margin-bottom: 0px;
      font-weight: normal;
    }
    .team-member-container {
      display: grid;
      grid-template-columns: 250px 250px;
    }
    margin-bottom: 20px;
  } 
 

  .add-project-form-buttons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
}
