.add-project-form-container {
  padding: 20px;

  h1 {
    margin: 8px;
    margin-top: 40px;
  }

  .add-project-form-body {
    .add-project-form {
      display: flex;
      flex-direction: column;
      h3 {
        margin-top: 20px;
        margin-bottom: 0px;
        padding-left: 8px;
      }
      .team-member-container {
        display: grid;
        grid-template-columns: 250px 250px;
      }
      margin-bottom: 20px;
    }
  }

  .add-project-form-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
