.chat-container {
  height: 90vh;
  .all-messages {
    height: 82%;
    border: steelblue solid 1px;
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    .message-container {
      display: flex;
      flex-direction: column;
      .message-box.logged-in {
        text-align: start;
      }
      .message-box {
        text-align: end;
      }
    }
  }
  .chat-input {
    width: 100%;
    height: 60px;
    text-align: start;
    display: flex;
    flex-direction: row;

    .input {
      width: 95%;
      height: 100%;
    }
    .send-button {
      background: #4b9fea;
      width: 5%;
      height: 100%;
    }
  }
}
