@use './base';

.delete-modal-text-a {
  margin: 35px 0 0px 0;
  text-align: center;
  font-size: 22px;
}

.delete-modal-prop-data {
  width: 100%;
  font-size: 22px;
  margin: 10px 10px 20px 10px;

  text-align: center;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.delete-modal-text-b {
  margin: 0;
  margin-bottom: 50px;
  font-size: 22px;
}

.delete-modal-footer {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
