@use './base';

// .task-form {
//   // background-color: white;
//   // width: 600px;
//   // padding-bottom: 50px;
//   // border-radius: 5px;
//   // border: 2px solid black;
// }
.edit-task-form {
  width: 550px;
  padding: 40px 60px 60px 60px;
  background-color: #fcfcfc;
  border: 3px #757575 solid;
  border-radius: 8px;
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .task-form-header {
    border-bottom: 2px solid base.$dark-grey;
 
    h1 {
      width: 80%;
    }
  }

  .test {
    margin-top: 5px
  }

  .task-form-body {
    div.task-form-body-description {
      margin-top: 5px;
      display: flex;
      position: relative;

      .task-form-body-description-div {
        width: 93%;
        overflow: auto;
        overflow-wrap: break-word;

        .MuiListItemText-primary {
          margin-top: 15px;
          font-size: 0.8em;
          color: grey;
        }
        .MuiListItemText-secondary {
          padding-bottom: 3px;
          font-size: 1.5em;
          color: base.$dark-dark-grey;
          font-weight: 500;
        }
      }

      button {
        position: absolute;
        top: 25px;
        right: -5px;
      }
    }

    .task-form-body-dropdowns {
      margin-top: 15px;
      display: flex;
      flex-direction: column;

      .task-form-body-dropdowns-project {
        display: flex;

        .task-form-body-dropdowns-project-div {
          width: 80%;

          .MuiListItemText-primary {
            padding-left: 3px;
            font-size: 0.8em;
            color: grey;
          }
          .MuiListItemText-secondary {
            font-size: 1.5em;
            color: base.$dark-dark-grey;
            font-weight: 500;
          }
        }
      }
    }

    .task-form-body-dropdowns-date {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      div.task-form-body-dropdowns-date-helper {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    .task-form-body-dropdowns-status {
      margin-top: 40px;
      display: flex;
      justify-content: center;

      div.task-form-body-dropdowns-status-div {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }

    .task-form-body-members-title {
      display: flex;
      width: 100%;

      div {
        border-bottom: 2px solid black;
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-top: 20px;

        h2 {
          font-weight: 600;
        }

        .add-button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: rgba(64, 64, 64, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }

    .task-form-body-members {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      div.task-form-body-members-div {
        display: flex;
        width: 100%;
        max-height: 200px;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: auto;

      }
    }
  }
  .task-form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    div {
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
  }
}
