@use './base';
@import url("https://cdn.syncfusion.com/ej2/material.css");

// Controls entire chart height
.e-content {
  max-height: 60vh; // Fixed height will cause white space below.
  background-color: lightgrey;
}

// https://ej2.syncfusion.com/react/documentation/gantt/style-and-appearance/
// // Table-side content
// Table-side header font control (no sizing)
// Controls table header font color, entire table font family, but not size
.e-table {
  // color: red;

  // font-family: ;
  // Table header overrides .e-table (Task Names, start date, end date) -- font color
  .e-columnheader {
    color: #545454;
  }
  // Controls background color for table rows
  .e-row {
    background-color: #acd2f3;
    tr {
      height: 50px;
    }
  }
  // Controls background color for alternate rows
  .e-altrow {
    background-color: #d3e7f8;
  }
  // Controls background color for all cells, couldn't do fonts. Overrides row and altrow
  // .e-rowcell {
  //   // background-color: #acd2f3;
  // }
}



.e-gantt .e-gantt-chart .e-timeline-top-header-cell, .e-gantt .e-gantt-chart .e-timeline-single-header-cell {
  font-size: 15px;
  font-weight: normal;
}

//font size for column name
.e-grid .e-headercelldiv {
  font-size: 20px;
}

//column font 
.e-grid .e-rowcell {
  font-size: 16px;
}

// Progress bar colors and borders
.e-gantt {
  .e-gantt-chart {
    // Controls background color for Month and Day headers except weekends
    .e-timeline-top-header-cell {
      background-color: #3d6bb3;
      // Background color for saturday and sunday header
      // .e-weekend-header-cell {
      //   background: red;
      // }
      // Controls font color for all of top headers (overrides top-cell if used after)
      .e-header-cell-label {
        color: #fcfcfc;
        font-size: 13px;
      }
      // Controls font color for month overlays
      .e-gantt-top-cell-text {
        font-size: 15px;
        font-weight: 500;
        color: #fcfcfc;
        text-align: center;
      }
    }
    // Gantt Side
    // Track Color
    .e-chart-row {
      background-color: #fcfcfc;
      // Progress Bar Colors
      .e-taskbar-main-container {
        background-color: #fcfcfc; //Make sure this matches background
        .e-gantt-child-taskbar-inner-div {
          background-color: #bdbdbd; // This should match .e-milestone top and bottom border-bottom-color for the rhombus shaped milestone
          border: 2px solid #9b9a9a;
          border-radius: 4px;
        }
        .e-milestone-top {
          border-bottom-color: #bdbdbd;
        }
        .e-milestone-bottom {
          border-bottom-color: #bdbdbd;
        }
      }
    }
  }
}


// .buttons {
//   display: flex;
//   justify-content: flex-end;
// }
