@use './base';
@import url("https://cdn.syncfusion.com/ej2/material.css");

.e-task-label {
  color: red;
}

.e-chart-row {
  background-color: red;
}

.e-weekend-header-cell {
  background-color: black;
}

.e-table {
}

.e-row {
  background-color: grey;
}

.e-altrow {
  background-color: white;
}
