@use '../styles/base';

.homepage-my-projects {
  height: 45vh;
  width: 30vw;
  background-color: base.$off-white;
  border: base.$border-grey;
  border-radius: base.$border-radius;
  padding: 15px 30px;
  overflow: auto;

  h2 {
    border-bottom: 2px base.$dark-grey solid;
    padding-bottom: 20px;
    margin: 15px 0;
  }
  

}