.kanban-board {
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 350px;
  margin-bottom: 50px;
  width: 22%;

  .kanban-board-header {
    background: white;
    display: flex;
    justify-content: center;
    border: 2px solid grey;
    position: relative;

    .kanban-board-header-button {
      color: white;
      position: absolute;
      top: 17px;
      right: 15px;
    }
  }

  .kanban-board-body {
    display: flex;
    justify-content: center;

    .kanban-board-body-div {
      width: 90%;
    }
  }
}
