@use './base';

.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: rgba(base.$blue-primary-dark, 0.4);

  p {
    margin-left: 4px;
  }

  .Gantt-icon {
    transform: rotate(90deg);
  }
}