@use './base';

.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: rgba(base.$blue-primary-dark, 0.4);

  .iconNavLink{
    text-decoration: none;
  }

  p {
    margin-left: 9px;
  }

  .Gantt-icon {
    transform: rotate(90deg);
  }

  .Kanban-icon {
    font-size: 25px;
    padding: 1px;
    padding-left: 3px
  }
}
