@use './base';

.nav-top {
  display: flex;
  flex-direction: column;

  img {
    margin: 10px; //for styling, maybe remove logo margin, make logo area white bg?
  }
}

.nav-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bottom-list {
  width: 100%;
}

.navlink {
  text-decoration: none;
  color: base.$dark-grey; //changes color of icons
}
