@use './base';

.project-users {
  background-color: base.$off-white;
  width: 500px;
  padding: 40px 40px 60px 40px;
  border: 3px #757575 solid;
  border-radius: 8px;
  height: 70vh;


  .project-users-header {
    border-bottom: 2px solid base.$dark-grey;
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
  .project-users-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-users-body-div {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      .project-users-body-manager {
        margin-right: 15px;
        font-weight: 500;
        font-size: 20px;
      }

    }

    .project-users-body-users {
      width: 100%;

      .project-users-title-add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        // border-bottom: 2px solid base.$dark-grey;

        h2 { 
          margin-bottom: 10px;
          font-weight: 500;
        }
      }

      .project-users-body-users-div {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-height: 290px;
        overflow: auto;
        margin-bottom: 10px;
        border: 2px solid base.$medium-grey;
        border-radius: 8px;
      }

      .project-users-body-add-user {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .project-users-body-add-user-div {
          display: flex;
          align-items: center;

          p {
            font-size: 18px;
            margin: 0;
            margin-left: 7px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .project-users-footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
