@use './base';

.project-overview {
  height: 100vh;
  overflow: hidden;
}

.project-overview-header {
  height: auto;
  background-color: base.$off-white;
  padding: 3vh 40px;
  border-bottom: 3px dashed base.$blue-secondary-dark
}

.project-overview-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-overview-body {
  padding: 5vh 40px;
  display: flex;
  width: 100%;
}

.project-overview-table {
  // margin: 14px;
  border: base.$border-grey;
  border-radius: base.$border-radius;
}

.project-overview-charts {
  margin: 0 40px;
  border: base.$border-grey;
  border-radius: base.$border-radius;
  background-color: base.$off-white;
  width: 550px;
  display: flex;
  justify-content: center;
}
