@use './base';

.overview-table-task-name {
  max-height: 50px;
  overflow: auto;
}

.overview-table-task-name::-webkit-scrollbar {
  display: none;
}

.overview-table-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
}

.overview-table-avatar-name {
  margin: 0 0 0 5px;
  font-size: 15px;
}

.overview-table-add-task {
  display: flex;
  align-items: center;
  margin: 10px 0;

  p {
    margin: 0;
    margin-left: 5px;
    padding-top: 1px;
  }
}
