@use './base';

.project-overview {
  height: 100vh;
  // overflow: auto;
}

.project-overview-header {
  height: auto;
  background-color: base.$off-white;
  padding: 3vh 40px;
  border-bottom: 3px dashed base.$blue-secondary-dark
}

.project-overview-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-overview-body {
  padding: 5vh 40px;
}