@use './base';

.listItem {
  padding: 10px;

  span {
    text-overflow: ellipsis;
    max-height: 50px;
    max-width: 270px;
    width: 250px;
    overflow: hidden;
  }

  p {
    max-height: 50px;
    overflow: auto;
    overflow-wrap: break-word;
  }

  p::-webkit-scrollbar {
    display: none;
  }

  span::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    background-color: base.$light-grey;
  }
}
