@use './base';

.listItem {
  padding: 10px;

  span {
    max-height: 50px;
    overflow: auto;
    overflow-wrap: break-word;
  }

  p {
    max-height: 50px;
    overflow: auto;
    overflow-wrap: break-word;
  }

  p::-webkit-scrollbar {
    display: none;
  }

  span::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    background-color: base.$light-grey;
  }
}
